body {
  font-family: Times New Roman, 'Georgia' , serif;
  font-size: 30px;
  font-color: black;
  font-style: normal;
  background-color: gray;
  font-weight: 300;
  text-align: center;
}

header {
  padding: 20px 0;
}


  



  


